__pycache__/
MP_functions.egg-info/
David/.DS_Store
optimal_init.ipynb
checkpoint_epoch*.pth
tests.ipynb
__init__.py 
setup.py 
David/data/
David/archive/
data/
.DS_Store

MNIST/MNIST_*
MNIST/.DS_Store

FashionMNIST/FashionMNIST_base_*.ipynb
FashionMNIST/Hyperparameter Search MP.ipynb
FashionMNIST/FashionMNIST_MNIST_for_Arnisa*.ipynb
FashionMNIST/FashionMNIST_MNIST_*.ipynb
FashionMNIST/data/
FashionMNIST/.DS_Store
FashionMNIST/FashionMNIST_sanity_check*.ipynb
FashionMNIST/FashionMNIST_sanity_check_2.ipynb

CIFAR/FashionMNIST_cifar10_bettermodel*.ipynb
CIFAR/data/
CIFAR/.DS_Store
CIFAR/FashionMNIST_base_*
CIFAR/CIFAR_base_*
CIFAR/alternative_architecture_search.ipynb
CIFAR/empirical_experiment_*

FashionMNIST_to_MNIST/experiments*
FashionMNIST_to_MNIST/fashion_model.pth

MNIST_to_FashionMNIST/experiments*