__pycache__/
MP_functions.egg-info/
David/.DS_Store
optimal_init.ipynb
checkpoint_epoch*.pth
tests.ipynb
__init__.py 
setup.py 
David/data/
David/archive/
data/
50-50_MNIST/best_model.pth
50-50_MNIST/MNIST_base*.ipynb
FashionMNIST/FashionMNIST_base_*.ipynb
FashionMNIST/Hyperparameter Search MP.ipynb
FashionMNIST/FashionMNIST_MNIST_for_Arnisa*.ipynb
FashionMNIST/FashionMNIST_MNIST_*.ipynb
FashionMNIST/data/
CIFAR/FashionMNIST_cifar10_bettermodel*.ipynb
CIFAR/data/